<mat-card class='margin-responsive mat-elevation-z8'>
    <button class='top-right' mat-icon-button color="warn" [routerLink]="['/home']">
        <mat-icon>close</mat-icon>
    </button>
    <mat-card-title>ADD CONTACT</mat-card-title>

    <div>
        <mat-form-field class='block' appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput #name maxlength="20">
            <mat-hint align='end'>{{name.value?.length || 0}}/20</mat-hint>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class='block' appearance="standard">
            <mat-label>Surname</mat-label>
            <input matInput #surname maxlength="20">
            <mat-hint align='end'>{{surname.value?.length || 0}}/20</mat-hint>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class='block' appearance="standard">
            <mat-label>Phone Number</mat-label>
            <input matInput #phone maxlength="10">
            <mat-hint align='end'>{{phone.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
    </div>

    <div class='end-text'>
        <mat-card-actions>
            <button mat-raised-button color='warn' [routerLink]="['/home']">CANCEL</button>
            <button mat-raised-button color='primary'>ADD</button>
        </mat-card-actions>
    </div>

</mat-card>